* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 1em;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    margin-bottom: 0.5em;
}

.head .nav {
    padding: 2em;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


.body {
    display: flex;
    flex-direction: column;
}

.img-div {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    
}

.img-div .img {
    width: 50%;
}

.text {
    margin: 1em 0em;
    font-style: italic;
    text-align: justify;
  text-justify: inter-word;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-div .btn {
    border-color: gainsboro;
    border-radius: 9px;
    padding: 1em;
}

.footer {
    position: fixed;
    width: 100%;
    background-color: beige;
    bottom: 0px;
    text-align: center;
   
}

.footer p {
    padding: 0.7em 0.3em;
    /* Fixed the padding value */
    font-size: 0.8em;
}

@media screen and (max-width: 480px) {
    body {
        background-color: gainsboro;
    }

    .img-div {
        flex-direction: column;
        width: 100%;
      
    }
    .img-div .img{
        width: 100%;
    }

    .footer {
        position: sticky;
        bottom: 0px;
    }
}